.link--desktop__elemento {
    text-decoration: none;
    text-align     : center;
    width          : auto;
    color          : #1D2734;
    font-size      : 12px;
    font-weight    : 400;

    &:hover {
        text-decoration: underline black;
    }
}