@media screen and (min-width:1026px) and (max-width:1920px) {

    .swiperCaret--desktop__product--images {
        display: none;
    }

    .productImagesThumb--desktop__product--images {
        border       : solid 1px #E7E7E7;
        border-radius: 4px;
    }

    .productImagesGallerySlide--desktop__product--images {
        border       : solid #E7E7E7 1px;
        overflow     : hidden;
        border-radius: 4px;
        width        : auto;
    }

    .carouselContainer--desktop__product--images .swiperPaginationClickable {
        display: none;
    }





    .productNameContainer--product__info--name {
        font-size    : 16px;
        font-weight  : 300;
        margin-bottom: 16px;
    }


    .price_className--product__info--price {
        margin-bottom: 24px !important;
    }

    .currencyContainer--product__info--price {
        font-size  : 24px;
        font-weight: 600;
        color      : #1D2734;
    }

    .skuSelectorSubcontainer--color {
        margin-bottom: 40px !important;
    }


    .skuSelectorContainer--product__info--sku .skuSelectorName {
        font-size  : 16px;
        font-weight: 600;
        color      : #1D2734;
    }

    .skuSelectorContainer--product__info--sku .skuSelectorSelectorImageValue {
        font-size  : 16px;
        font-weight: 300;
        color      : #1D2734;
    }

    .skuSelectorItem--selected .frameAround--product__info--sku {
        border: solid 1px #1D2734;
        top   : 1px;
        bottom: 1px;
        left  : 1px;
        right : 1px;
    }

    .skuSelectorItem--selected .valueWrapper--product__info--sku {
        color: #000000;
    }

    .vtex-flex-layout-0-x-stretchChildrenWidth  {
        padding: 0 !important;
    }

}