.flexCol--global__infocards--cardelement {

    align-items: center;
}

.flexCol--global__infocards--cardelement .flexColChild--global__infocards--cardelement {
    width: 100%;
}

.flexCol--global__frame--leading {
    padding-left       : 10px;
    width              : 100px;

}


.flexCol--global__infocards--cardelement {
    background-color: #ffffff;
    border-radius   : 12px;
} 

