 .wrapper--home__infocard-slider--cardelement-text1 {
    font-size  : 12px;
    font-weight: 600;
}

.wrapper--home__infocard-slider--cardelement-text2 {
    font-size: 10px;
}

.paragraph--home__infocard-slider--cardelement-text2 {
    margin: 0;
}

