.wrapper--home__infocard-slider--cardelement-text1 {
    font-size  : 12px;
    font-weight: 600;
}

.wrapper--home__infocard-slider--cardelement-text2 {
    font-size: 10px;
}

.paragraph--home__infocard-slider--cardelement-text2 {
    margin: 0;
}


@media screen and (min-width:1026) and (max-width:1920) {
    .wrapper--home__infocard-slider--cardelement-text2 {
        font-size: 120px !important;
    }
}