

/*Orden del Sku*/

.skuSelectorContainer--product__info--sku {
    display       : flex;
    flex-direction: column-reverse;
}
.skuSelectorContainer--product__info--sku  .skuSelectorSubcontainer{
    margin:  0 0 16px 0 ;
}

/*Contenedor de Tallas*/


.skuSelectorInternalBox--product__info--sku {
    border: #E7E7E7 solid 1px;
    border-radius: 8px !important;
}

.valueWrapper--product__info--sku {
    font-size  : 14px;
    font-weight: 300;
    color      : #646464;
}

.skuSelectorItem--product__info--sku{
    margin: 0 8px 0 0;
    width: 77px;
    
}

