.flexRow--main-header-mobile {
    margin-bottom: 4px;
}

.flexRow--global__product-list-row{
    height: 121px;
    overflow: hidden;
    margin-bottom: 8px;
}
.flexRowContent--global__product-list-row{

    padding: 0;
    height: 100%;
}


.flexColChild--global__product-list-row-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColChild--global__product-list-row-image :global(.vtex-product-list-0-x-productImageContainer){
    /* border: solid 1px black; */
}

/* .productName{
    color: aqua !important;
} */

/* .flexColChild--global__product-list-main-container:nth-child(2){
    background-color: aquamarine;
}
.flexColChild--global__product-list-main-container:nth-child(5){
    background-color: aquamarine;
} */

.flexRowContent--global__row-product-list-price{
    margin-top: 0;
}
.flexRowContent--global__row-product-list-quantity-selector{
    margin-top: 3px;
}
.flexRowContent--global__row-product-list-quantity-selector{
    margin-top: 3px;
}
.flexColChild--global__product-list-main-container:last-child{
    display: none;
}

.flexRow--global__row-product-list-quantity-selector :global(.vtex-product-list-0-x-quantitySelectorDecrease){

    width: 32px;
}
.flexRow--global__row-product-list-quantity-selector :global(.vtex-product-list-0-x-quantitySelectorIncrease){
    width: 32px;
}