.element--global__products--summary {
    padding: 0;
}

.imageNormal {
    height: 150px;
    width : 150px;
}

.description {
    font-size  : 12px;
    line-height: 12.8px;
    color      : #1d273492;
    text-align : start
}

.buyButton :global(.vtex-button) {
    color           : #1D2734;
    background-color: transparent;
    border          : solid 0.76px #1D2734;
    text-transform  : capitalize;
    border-radius   : 6.07px;
}

.buyButton :global(.vtex-button__label) {
    background-color: transparent;
    display         : block;
    padding         : 11px 0 !important;
    font-size       : 10.63px;
    font-weight     : 600;
    position        : relative;
    visibility      : hidden;

}

.buyButton :global(.vtex-button__label)::before {
    content          : '';
    display          : inline-block;
    width            : 17px;
    height           : 18px;
    background-image : url('assets/svg/productSummary/addToCart.svg');
    background-size  : contain;
    background-repeat: no-repeat;
    position         : absolute;
    top              : 50%;
    left             : 33%;
    transform        : translate(-50%, -50%);
    visibility       : visible;
}

.buyButton :global(.vtex-button__label)::after {
    display   : inline-block;
    content   : 'Comprar';
    position  : absolute;
    visibility: visible;
    top       : 50%;
    left      : 58%;
    transform : translate(-50%, -50%);
}


.priceContainer {
    padding: 0;
    height : 38px;
}

@media screen and (min-width:1026px) and (max-width:1920px) {

    .buyButton :global(.vtex-button__label) {
        font-size  : 14px;
        font-weight: 400;

        display: block;
        padding: 15px 0 !important;
    }

    .buyButton :global(.vtex-button__label)::before {
        content          : '';
        display          : inline-block;
        width            : 17px;
        height           : 18px;
        background-image : url('assets/svg/productSummary/addToCart.svg');
        background-size  : contain;
        background-repeat: no-repeat;
        position         : absolute;
        top              : 50%;
        left             : 36%;
        transform        : translate(-50%, -50%);
        visibility       : visible;
    }
    
    .buyButton :global(.vtex-button__label)::after {
        display   : inline-block;
        content   : 'Comprar';
        position  : absolute;
        visibility: visible;
        top       : 50%;
        left      : 57%;
        transform : translate(-50%, -50%);
    }

    .imageNormal {
        height: 200px;
        width : 200px;
    }

}